<%- include('header') %>
    <div class="row">
        <div class="col-lg-4 col-6">
            <div class="small-box bg-info">
                <div class="inner">
                    <h3>
                        <%= stats.totalOrders %>
                    </h3>
                    <p>Ümumi Sifarişlər</p>
                </div>
                <div class="icon">
                    <i class="fas fa-shopping-cart"></i>
                </div>
                <a href="/admin/orders" class="small-box-footer">Daha çox <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <div class="col-lg-4 col-6">
            <div class="small-box bg-warning">
                <div class="inner">
                    <h3>
                        <%= stats.pendingOrders %>
                    </h3>
                    <p>Gözləyən Sifarişlər</p>
                </div>
                <div class="icon">
                    <i class="fas fa-clock"></i>
                </div>
                <a href="/admin/orders" class="small-box-footer">Daha çox <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <div class="col-lg-4 col-6">
            <div class="small-box bg-success">
                <div class="inner">
                    <h3>
                        <%= stats.totalUsers %>
                    </h3>
                    <p>İstifadəçi Sayı</p>
                </div>
                <div class="icon">
                    <i class="fas fa-users"></i>
                </div>
                <a href="/admin/users" class="small-box-footer">Daha çox <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header border-transparent">
                    <h3 class="card-title">Sistem Statusu</h3>
                </div>
                <div class="card-body">
                    <p>Admin panelinə xoş gəldiniz. Bütün sistemlər aktivdir və problemsiz işləyir.</p>
                </div>
            </div>
        </div>
    </div>
    <%- include('footer') %>